.site-logo img {
    max-height: 4.0rem;
}

.site-title-hidden
{
    display:none;
}

.masthead__inner-wrap
{
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}